<div class="banner-carousel banner-carousel-1 mb-0">
  <div class="banner-carousel-item" style="background-image:url(/images/slider-main/bg1.jpeg)">
    <div class="slider-content">
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col-md-12 text-center">
            <h2 class="slide-title" data-animation-in="slideInLeft">经营理念</h2>
            <h3 class="slide-sub-title" data-animation-in="slideInRight">诚信  共赢   创新   贡献</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-carousel-item" style="background-image:url(/images/slider-main/bg2.jpg)">
    <div class="slider-content text-left">
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col-md-12">
            <h3 class="slide-title" data-animation-in="fadeIn">解决方案</h3>
            <h3 class="slide-sub-title" data-animation-in="slideInLeft">聚焦油气行业</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="banner-carousel-item" style="background-image:url(/images/slider-main/bg3.jpg)">
    <div class="slider-content text-right">
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col-md-12">
            <h2 class="slide-title" data-animation-in="slideInDown">咨询和服务</h2>
            <h3 class="slide-sub-title" data-animation-in="fadeIn">一流的数字化转型服务</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>