  <footer id="footer" class="footer bg-overlay">

    <div class="copyright">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="copyright-info text-center">
              <span><a href="{{site.url}}">北京清远宏通科技有限公司</a>版权所有 &copy; 2011-<script>
                  document.write(new Date().getFullYear())
                </script></span>
            </div>
          </div>

          <div class="col-md-12">
            <div class="copyright-info text-center">
              <span> <a href="{{site.url}}">京ICP备17063467号-1</a></span>
            </div>
          </div>

          <div class="col-md-12">
            <div class="footer-menu text-center">
              <ul class="list-unstyled mb-0">
                <li><a href="/images/yyzz.jpg">营业执照</a></li>
                <li><a href="#">资质证书</a></li>
                <li><a href="#">发展历程</a></li>
                <li><a href="#">社会贡献</a></li>
              </ul>
            </div>
          </div>

        </div><!-- Row end -->

        <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
          <button class="btn btn-primary" title="Back to Top">
            <i class="fa fa-angle-double-up"></i>
          </button>
        </div>

      </div><!-- Container end -->
    </div><!-- Copyright end -->
  </footer><!-- Footer end -->